/* Comments below are for styling learned outside of class modules */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

.topMenu {
    width: 100%;
    height: 3em;
    margin: 0;
    top: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(105,125,62,255);
    box-shadow: 0 0 0.1em 0;
    z-index: 1;
}

.topMenu :hover {
    color: rgba(245, 222, 179, 0.349);
}

.topMenu .topNav {
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
    height: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.topMenu #logo {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2em;
}

.topMenu ul li a {
    text-decoration: none;
    color: rgb(36, 34, 34);
}

.topNav, #logo {
    list-style-type: none;
}

.mainDisplay {
    margin-top: 3em;
    position: relative;
    width: 100%;
    cursor: pointer;
}

.mainImg {
    display: block;
    width: 100%;
    height: auto;
}

.mainDisplayText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease; /* This transition in combination with the .mainDisplay:hover .mainDisplayText {opacity: 1;} below is was gives the image their shade and text when you hover over them. The transition ease defines how quick or slow the effect will happen, represented in seconds (s). The {opacity: 1;} defines the opacity of the shade overlaid on the image. All of this was accomplished by making the .mainDisplayText, which is overlaid on the .mainImg class, a height and width of 100%. Within the .mainDisplayText class is the .mainText class which holds the actual text you see when you hover. */
    background-color: rgba(0, 0, 0, 0.6);
}

.mainText a { /* Text shown when you hover over images */
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: x-large;
    transform: translate(-50%, -50%); /* The transform: translate style moves the text or other elements to the center of the container */  
    text-align: center;
    text-decoration: none;
}

.mainText a:hover {
    text-decoration: underline;
}

.mainDisplay:hover .mainDisplayText {
    opacity: 1;
}

.miniDisplayOuterWrapper > * {
display: inline-block; /* The > (greater than) selector is applied to children elements of another element. In this case, .miniDisplayOuterWrapper is the parent and * represents the child. As for *, it embodies all elements of the html. So with this selector, whatever style is applied to the class .miniDisplayOuterWrapper, it will also be applied to all children of this class. */
}

.miniDisplay {
    margin-top: 0.25em;
    position: relative;
    cursor: pointer;
    width: 33%;
}

.miniImg {
    display: block;
    width: 100%;
    height: auto;
}

.miniDisplayText { /* Explanation for transform used here can be found above for the .mainDisplay class */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.miniText a {
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: larger;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}

.miniText a:hover {
    text-decoration: underline;
}

.miniDisplay:hover .miniDisplayText {
    opacity: 1;
}

#reviewHeader, #newsHeader {
    text-align: center;
    margin-bottom: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.reviewWrapper, .newsWrapper {
    display: flex;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#reviewText, #newsText {
    text-align: center;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.aboutWrapper h3, h5, #ourStory {
    text-align: center;
}

.aboutWrapper h3 a {
    text-decoration: none;
}

.botMenu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #b5aa71;
    justify-content: space-between;
    align-items: center;
}

.socialIcon, .botNav {
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 1em;
    margin-left: 2em;
    text-align: center;
}

.submit {
    margin: 1em;
    margin-right: 2em;
}

form input {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
    border: none;
    border-radius: 0.25em;
    height: 2em;
}

form input[type=submit] {
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: wheat;
}

.botMenu:hover {
    color: white;
}

.botMenu ul li {
    list-style-type: none;
}

.botMenu ul li a {
    text-decoration: none;
    color: rgb(36, 34, 34);
}

.botMenu ul li a:hover {
    color: wheat;
}