body {
    margin: 0;
    /* padding: 0; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
}

.topMenu {
    width: 100%;
    height: 3em;
    margin: 0;
    top: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(141, 141, 139);
    box-shadow: 0 0 0.1em 0;
    opacity: 0.7;
}

.topMenu :hover {
    color: wheat;
}

.topMenu .topNavLeft {
    margin: 0;
    margin-left: 2em;
    padding: 0;
    height: 3em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.topMenu #logo {
    margin: 0;
    padding: 0;
    height: 3em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.topMenu .topNavRight {
    margin: 0;
    margin-right: 2em;
    padding: 0;
    height: 3em;
    display: flex;
    align-items: center;
    gap: 2em;
}

.topMenu ul li a {
    text-decoration: none;
    color: rgb(59, 54, 54);
}

.topNavLeft, #logo, .topNavRight, .topNavIcon {
    list-style-type: none;
}

.mainDisplay {
    margin-top: 3em;
    position: relative;
    width: 50%;
    cursor: pointer;
}

.test {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.6);
}

.text {
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainDisplay:hover .overlay {
    opacity: 1;
}
/* .mainDisplay img {
    width: 100%;
} */

/* .mainDisplay {
    margin-top: 3em;
    width: 100%;
    max-width: 50%;
    position: relative;
    display: flex;
    vertical-align: middle;
} */

/* .mainDisplay h2 {
    display: inline-table;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    color: rgb(144, 182, 189);
    background: rgba (0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    cursor: pointer;
} */

/* .mainDisplay h2:hover {
    opacity: 1;
} */

.botMenu {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 5em;
    display: flex;
    position: fixed;
    background-color: rgb(152, 183, 248);
}

.botMenu:hover {
    color: white;
}

.botMenu ul li {
    list-style-type: none;
}

.botMenu ul li a:hover {
    color: wheat;
}

.botMenu .socialIcon {
    display: flex;
    gap: 1em;
}